.form-field {
    display: block;
    margin: 2px;
}
.field::placeholder {
    color: violet;
}

.field:focus {
    background-color: yellow;
}

.field:checked ~ .form-label {
    color: green;
}

.field:invalid {
    border: 1px solid red;
}

.form-button:enabled {
    color: blue
}

.field:outline {
    border-color: blue;
}